<!--VIEW TICKET-->
<div class="container-fluid">
    <div class="ms-row">
        <div class="col-1-of-2">
            <h1 class="h2">Welcome to the HOA Website.</h1>
            Text CONTENT. Text CONTENT. Text CONTENT.Text CONTENT. Text CONTENT. Text CONTENT.Text CONTENT. Text CONTENT. Text CONTENT.Text CONTENT. Text CONTENT.Text CONTENT.Text CONTENT. Text CONTENT. Text CONTENT.Text CONTENT. Text CONTENT. Text CONTENT. Text
            CONTENT. Text CONTENT. Text CONTENT.Text CONTENT. Text CONTENT.Text CONTENT. Text CONTENT.Text CONTENT.Text CONTENT.
        </div>
        <div class="col-1-of-2">
            <img class="img-fluid" style="width:100%;" src="../../assets/download.png">
        </div>
    </div>

    <!--FOOTER-->
    <footer>
    </footer>
</div>